.indicatorsContainer > div {
  padding: 5px;
}

.valueContainer {
  padding: 0px 8px !important;
}

.control {
  @apply h-8 rounded-md border border-input bg-background p-0 text-sm font-medium ring-offset-background transition-colors hover:bg-accent hover:text-accent-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;

  border: none;
  min-height: 32px !important;
}

.input {
  font-size: 14px;
}
